@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

:root {
  --brand-color: #c2457d;
  --dark-color: rgb(51,51,51);
}

html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}
